<header>
    <nav>
        <a mat-raised-button *ngFor="let item of menuItems" routerLink="{{item.link}}">
            {{item.name | uppercase}}
        </a>
        <div class="flex-spacer"></div>
        <app-search-bar></app-search-bar>

        <div></div>

        <span>
            {{ selectedLanguage | translate }}
        </span>

        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon svgIcon="{{getSelectedFlag()}}"></mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <span *ngFor="let lang of languageList">
                    <button mat-menu-item (click)="changeLanguage(lang)">
                        <mat-icon svgIcon="{{getFlagOfLang(lang)}}"></mat-icon>
                        <span>
                            {{ lang | translate }}
                        </span>
                    </button>
                </span>
        </mat-menu>
    </nav>
    <section class="progress-bar">
        <mat-progress-bar [color]="'primary'" [mode]="progressBarMode">
        </mat-progress-bar>
    </section>
</header>