:host(app-tree-categorie) {

  align-items: center;
  width: 100%;

  .categoriesDiv {
    font-family: 'Homenaje';
    border-top: 1px solid #deded3;
    border-bottom: 1px solid #deded3;
    color: #99CD86;
    position: relative;
  }
}
