
    <h1 class="section-title">{{'articles.articlesList.title' | translate}}</h1>
    <mat-progress-spinner *ngIf="!displayArticles" class="progress-spinner" [color]="'primary'" [mode]="'indeterminate'">
    </mat-progress-spinner>
    <div class="cardList" *ngIf="displayArticles">
        <ng-container *ngFor="let article of articles">
            <mat-card class="article-card">
                <mat-card-header>
                    <div mat-card-avatar class="article-header-image"
                        [ngStyle]="{'background-image': 'url(assets/images/articles/' + article.articleId + '.jpg)'}">
                    </div>
                    <mat-card-title>{{article.articleLabel}}</mat-card-title>
                   <mat-card-subtitle>{{article.articleDescription}}</mat-card-subtitle>
                    <div class="flex-spacer"></div>
                    <div class="article-actions">
                        {{article.articlePriceTTC}}
                        <!-- <mat-icon matTooltip="{{(canVote ? 'canVote' : 'cannotVote') | translate}}"
                             [matTooltipPosition]="'above'"
                             class="like-icon" (click)="like(hero)">favorite
                    </mat-icon> -->
                    </div>
                </mat-card-header>
                <img mat-card-image src="assets/images/articles/{{article.articleId}}.jpg">
            </mat-card>
        </ng-container>
    </div>
